

/* Content wrapper styles */
.content-wrapper {
  width: 80%; /* 80% width for the content */
  margin: 0 auto; /* Center the content */
}

/* Horizontal bar */
.horizontal-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-side {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.right-side {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.back-to-products-button {
  background-color: #2E0052;
  color: #fff; /* Text color */
  padding: 10px 20px; /* Adjust padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Add cursor pointer */
  display: flex;
  margin-top: 20px;
}

.back-to-products-button:hover {
  background-color: #4A0072; /* Darker shade on hover */
}

.cart-title {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-bottom: 20px;
}

.cart-title-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}

.cart-content{
  display: flex; /* Display children in a row */
  width: 100%; /* Take up full width */
}

.cart-items-section {
  width: 75%;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top: 10px; 
}

.cart-items{
  overflow-y: auto; /* Enable vertical scroll */
  height: 60vh; /* Set maximum height */
}


.cart-item {
  display: flex;
  padding: 20px;
  
}

.cart-item img {
  margin-right: 20px;
}

.item-details {
  display:flex;
}

.column {
  flex: 1;
  padding: 0 10px;
}

.column h3 {
  margin-top: 0;
}

.quantity select {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-total {
  display:flex;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  justify-content: space-between;
  padding: 20px;
}

.price-details-section {
  width: 25%;
  padding-left: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.price-details {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.checkout-button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #FFD600; /* Example color */
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #756207; /* Darker shade */
}
