/* Content wrapper styles */
.content-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  
  
  .back-to-products-button {
    background-color: #2e0052;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .back-to-products-button:hover {
    background-color: #5c307b;
  }
  
  .checkout-title {
    margin-top: 20px;
  }

  .checkout-content{
    display: flex;
  }
  
  .checkout-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 75%;
  }

  .delivery-form-section{
    text-align: left;
  }
  
  .delivery-form-section{
    flex: 1;
    padding: 20px;
  }
  
  .place-order-section h3 {
    margin-top: 0;
  }
  
  .delivery-form-section form {
    margin-bottom: 20px;
  }


  .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
  }

  .form-group label {
    min-width: 100px; /* Adjust as needed */
    color: #B52B00;
  }

  .form-group .styled-input {
    border: none;
    color: #797979;
  }

    .form-group textarea,
    .form-group select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        color: #797979;
    }

    .cart-image-container{
        display:inline;
    }

    .cart-item-image {
        width: 100px;
        margin-bottom: 10px;
        margin-right: 10px;
        cursor: pointer;
    }

    .cart-item-image-selected {
        width: 100px;
        margin-bottom: 10px;
        margin-right: 10px;
        cursor: pointer;
        border: 2px solid #3c00ff; /* Red border to highlight the selected image */
    }  
    
    hr{
        border: none;
        border-top: 1px solid #ccc; /* Add a border-top to create a horizontal line */
        margin-top: 20px; /* Add some top margin to create space between elements */
    }

    .place-order-section{
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        /* display: grid;
        grid-template-columns: 1fr 2fr; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        padding: 10px 20px;
    }
  
  .place-order-button {
    padding: 10px 20px;
    background-color: #FFD600; /* Amazon's primary button color */
    color: #111; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .order-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .order-total {
    font-size: 17px;
    font-weight: bold;
    color: #B52B00;
  }

  .order-terms {
    font-size: 15px;
    color: #555; /* Gray text color */
  }
  
  .order-summary-section {
    margin-top: 20px;
    border: 1px solid #e1e1e1;
    height:fit-content;
    border-radius: 10px;
    padding: 20px;
    width: 25%;
  }
  
  .order-summary-section .place-order-button {
    margin-top: 0;
    cursor: pointer;
    width: 100%;
  }
  
  .order-summary-section .order-terms{
    font-size: 10px;
  }

  .order-items{
    text-align: left;
  }

  .order-summary-title{
    text-align: left;
  }

  .order-details-vertical {
    color: #797979;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }