.invoice-content{
    width: 80%;
    margin: auto;
}

.invoice-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}



.invoice-details {
    display: flex;
    align-items: center;
}

.invoice-image {
    width: 80px; /* Set width of the image */
    margin-right: 20px; /* Add margin for spacing */
}

.invoice-details-column {
    display: flex;
    flex-direction: column;
    color: #797979;
    text-align: left;
}

.invoice-details-column p{
   margin-top: 5px;
   margin-bottom: 5px;
}

.view-invoice-button {
    margin-left: auto;
    height: fit-content;
    padding: 8px 30px;
    background-color: #2E0052;
    font-size: 15px;
}