/* ProductDetails.css */

.product-title{
  text-align: left;
  padding: 10px;
  font-size: 20px;
}

  /* Product details content */
.product-details-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  /* .product-images {
    width: 50%;
    padding-right: 20px;
    height: 50%;
  }

  .product-image {
    width: 100%;
    height: 400px;
  } */

  .product-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .large-image-container {
    margin-bottom: 20px; 
    border: 4px solid #2E0052;
    border-radius: 15px;
  }
  
  .thumbnail-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .thumbnail-image {
    width: 100px; /* Adjust thumbnail image size as needed */
    height: 100px; /* Adjust thumbnail image size as needed */
    margin: 5px; /* Adjust spacing between thumbnails as needed */
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 15px;
  }
  
  .product-image.large-image {
    width: 400px; /* Adjust large image size as needed */
    height: auto; 
    padding: 3px;
  }

  /* Product description */
.product-description {
    width: 50%;
    text-align: left; /* Align content to the left */
  }

  .product-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .ratings {
    margin-bottom: 10px;
  }
  
  .product-description p {
    margin-bottom: 10px;
  }

  .product-description .about-product{
    font-size: 15px;
  }
  
  .product-description button {
    background-color: #FFD600;
    border: none;
    color: #111;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    width: 250px; /* Set button width */
    border-radius: 20px; /* Apply rounded corners */
    display: block; /* Display buttons on separate lines */
    margin-bottom: 10px; /* Add margin between buttons */
  }

  .product-description button.buy-now {
    background-color: #FFB800; /* Change background color for Buy Now button */
  }






  
  